<header class="flex w-full bg-gray-100 dark:bg-black min-h-9 justify-center items-center fixed top-0">
    <ul class=" flex w-1/2 justify-between">
        <li><a href="#" class=" hover:text-hover-font transition-all duration-200 "><mat-icon fontIcon="home"></mat-icon></a></li>
        <li><a href="#" class=" hover:text-hover-font transition-all duration-200 "><mat-icon fontIcon="group"></mat-icon></a></li>
        <li><a href="#" class=" hover:text-hover-font transition-all duration-200 "><mat-icon fontIcon="book"></mat-icon></a></li>
        <li><a href="#" class=" hover:text-hover-font transition-all duration-200 "><mat-icon fontIcon="chat"></mat-icon></a></li>
        <li><a href="#" class=" hover:text-hover-font transition-all duration-200 "><mat-icon fontIcon="notification_important"></mat-icon></a></li>
      
    </ul>
</header>
