<header class="flex w-full bg-component-color dark:bg-black min-h-9 justify-center items-center fixed top-0">
    <ul class=" flex w-1/2 justify-between">
        <li><a href="#" class=" hover:text-hover-font hover:border-b-hover-font transition-all duration-200 border-b-4 border-b-component-color"><mat-icon fontIcon="home"></mat-icon></a></li>
        <li><a href="#" class=" hover:text-hover-font hover:border-b-hover-font transition-all duration-200 border-b-4 border-b-component-color"><mat-icon fontIcon="group"></mat-icon></a></li>
        <li><a href="#" class=" hover:text-hover-font hover:border-b-hover-font transition-all duration-200 border-b-4 border-b-component-color"><mat-icon fontIcon="book"></mat-icon></a></li>
        <li><a href="#" class=" hover:text-hover-font hover:border-b-hover-font transition-all duration-200 border-b-4 border-b-component-color"><mat-icon fontIcon="chat"></mat-icon></a></li>
        <li><a href="#" class=" hover:text-hover-font hover:border-b-hover-font transition-all duration-200 border-b-4 border-b-component-color"><mat-icon fontIcon="notification_important"></mat-icon></a></li>
      
    </ul>
</header>
