<header *ngIf="visible" class="flex w-full bg-component-ligth-color dark:bg-component-dark-color min-h-9 justify-center items-center fixed top-0 z-30">
    <ul class=" flex w-1/2 justify-between">
        <li><a routerLink="/" class=" hover:text-hover-font hover:border-b-hover-font transition-all duration-200 border-b-4 border-b-component-ligth-color dark:border-b-component-dark-color"><mat-icon fontIcon="home"></mat-icon></a></li>
        <li><a routerLink="/people" class=" hover:text-hover-font hover:border-b-hover-font transition-all duration-200 border-b-4 border-b-component-ligth-color dark:border-b-component-dark-color"><mat-icon fontIcon="group"></mat-icon></a></li>
        <li><a routerLink="/posts" class=" hover:text-hover-font hover:border-b-hover-font transition-all duration-200 border-b-4 border-b-component-ligth-color dark:border-b-component-dark-color"><mat-icon fontIcon="book"></mat-icon></a></li>
        <li><a routerLink="/chats" class=" hover:text-hover-font hover:border-b-hover-font transition-all duration-200 border-b-4 border-b-component-ligth-color dark:border-b-component-dark-color"><mat-icon fontIcon="chat"></mat-icon></a></li>
        <li><a routerLink="/notify" class=" hover:text-hover-font hover:border-b-hover-font transition-all duration-200 border-b-4 border-b-component-ligth-color dark:border-b-component-dark-color"><mat-icon fontIcon="notification_important"></mat-icon></a></li>
      
    </ul>
</header>
