<form class="space-y-4 w-full text-center" (ngSubmit)="submitForm()" [formGroup]="form">
    <div *ngIf="errors.length>0">
        <p class="bg-red-300 text-red-600 p-2 rounded-lg my-1" *ngFor="let error of errors">{{error}}</p>
    </div>
    <div class="w-full flex-col relative">
        <input placeholder="seu nome" type="text" [formControl]="form.controls.name" #name
            class="rounded-md border w-[80%] my-1 text-light-font border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-base-color">


        <input placeholder="seu e-mail" type="email" [formControl]="form.controls.mail" #mail
            class="rounded-md border w-[80%] my-1 text-light-font border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-base-color">


        <input placeholder="sua senha" [type]="visiblePassword?'text':'password'" [formControl]="form.controls.password" #password
            class="rounded-md border w-[80%] my-1 text-light-font border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-base-color">
            <view-password (visibleChange)="changeVisibility($event)" class="absolute right-10 bottom-14"></view-password>
        <input placeholder="repita sua senha" [type]="visiblePassword?'text':'password'" [formControl]="form.controls.passwordRepite"
            #password_repite
            class="rounded-md border w-[80%] my-1 text-light-font border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-base-color">

    </div>

    <button type="submit"
        [class]=" load?'bg-base-color p-2 w-[70%] m-auto text-white rounded shadow-lg':'bg-base-color p-2 w-[70%] m-auto text-white rounded shadow-lg hover:bg-hover-font'"
        [disabled]="load">
        <div class="flex justify-center items-center" *ngIf="load">

            <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        <span *ngIf="!load">cadastre-se</span>

    </button>

    <p class="text-sm mt-4">
        já possui conta? <a routerLink="/login" class="text-base-color hover:underline">entre</a>
    </p>
    <div>
        <ul class="flex justify-center">
            <li><a href=""><img class="w-[50px] mx-2 transition-all duration-200 hover:scale-110"
                        src="assets/icons/github.png" alt=""></a></li>
            <li><a href=""><img class="w-[50px] mx-2 transition-all duration-200 hover:scale-110"
                        src="assets/icons/google.png" alt=""></a></li>
            <li><a href=""><img class="w-[50px] mx-2 transition-all duration-200 hover:scale-110"
                        src="assets/icons/discord.png" alt=""></a></li>
        </ul>
    </div>
</form>