<form action="/login" method="post" class="space-y-4 w-full text-center">
    <div class="w-full flex-col ">
        <input placeholder="seu e-mail" type="text" name="username" id="username"
            class="rounded-md border w-[80%] my-1 text-light-font border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-base-color">


        <input placeholder="sua senha" type="password" name="password" id="password"
            class="rounded-md border w-[80%] my-1 text-light-font border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-base-color">

    </div>
    <p class="text-sm mt-4">
        <a href="#" class="text-base-color hover:underline">Esqueceu sua senha?</a>
    </p>
    

    <button type="submit"
        class=" bg-base-color p-2 w-[70%] m-auto text-white rounded shadow-lg hover:bg-hover-font">
        Entrar
    </button>

    <p class="text-sm mt-4">
       É novo aqui? <a href="#" class="text-base-color hover:underline">Cadastre-se</a>
    </p>
  <div>
    <ul class="flex justify-center">
        <li><a href=""><img class="w-[50px] mx-2 transition-all duration-200 hover:scale-110" src="assets/icons/github.png" alt=""></a></li>
        <li><a href=""><img class="w-[50px] mx-2 transition-all duration-200 hover:scale-110" src="assets/icons/google.png" alt=""></a></li>
        <li><a href=""><img class="w-[50px] mx-2 transition-all duration-200 hover:scale-110" src="assets/icons/discord.png" alt=""></a></li>
    </ul>
  </div>
</form>
